# Build output
/build/

# Generated code
/internal/api/models/*.go
/internal/api/restapi/operations/
/internal/api/restapi/doc.go
/internal/api/restapi/embedded_spec.go
/internal/api/restapi/server.go
/frontend/generated-api

# Front-end dependencies
node_modules/

# Caches
.angular/

# Test artifacts
/cypress/downloads
/cypress/screenshots
/cypress/video

# IDE
/.idea/

# Locally kept files
~*
