@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Common vars
@import "vars";

// Import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Give all root elements full height so that we can position the footer at the bottom of the screen
html, body, app-root {
    height: 100%;
}

section {
    padding-top: $spacer;
    margin-bottom: 3rem;

    // Section title
    &>h1, &>h2, &>h3 {
        margin-bottom: $spacer;
    }

    &.danger {
        border-top: #f67d8a 2px dashed;
        color: #721c24;
    }
}

// Center all headings
@for $h from 1 through 6 {
    h#{$h} {
        text-align: center;
    }
}

// Collapse toggler
.collapse-toggler {

    svg {
        transform: rotate(180deg);
        transition: all ease 0.333s;
    }

    &.collapsed {
        svg {
            transform: rotate(0deg);
        }
    }
}

// Detail table
dl.detail-table, dl.detail-table > div {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0; // Override the standard 1rem bottom margin

    dt {
        flex: 0 0 30%;
        margin-bottom: 0.5rem;
        margin-right: 15px;
        &:after {
            content: ':';
        }
    }
    dd {
        flex: 1;
        margin-bottom: 0.5rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    // Display both dt and dd at full-width on sm and down
    @include media-breakpoint-down(md) {
        & {
            display: block;
            dt {
                margin-bottom: 0;
            }
            dd {
                margin-bottom: 1rem;
                // Allow value text wrapping
                white-space: normal;
            }
        }
    }
}

// Separate block from the previous one: XS by a top margin, from SM up by a left border
.separate-sm-left {
    margin-top: 1.5rem;

    @include media-breakpoint-up(sm) {
        border-left: 1px solid #dee2e6;
        margin-top: 0;
    }
}

.form-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin-top: .5rem;
    padding: .75rem;
    border-top: 1px solid $border-color;

    > * {
        margin: .25rem;
    }
}

//----------------------------------------------------------------------------------------------------------------------
// Animations
//----------------------------------------------------------------------------------------------------------------------

.fade-in {
    animation: fade-in-animation 0.5s ease forwards 1;
}
.fade-in-1s {
    animation: fade-in-animation 1s ease forwards 1;
}
.fade-in-3s {
    animation: fade-in-animation 3s ease forwards 1;
}
@keyframes fade-in-animation {
    0%   { opacity: 0; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}

//----------------------------------------------------------------------------------------------------------------------
// Spinners
//----------------------------------------------------------------------------------------------------------------------

.is-spinning-sm {
    pointer-events: none;

    &::before {
        content: '';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        vertical-align: -0.125em;
        border: 0.2em solid currentColor;
        border-right-color: transparent;
        border-radius: 50%;
        animation: .75s linear infinite spinner-border; // Defined by Bootstrap
    }
}
.is-spinning-lg {
    position: relative;
    min-height: 100px;
    pointer-events: none;

    // Animated border
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 3rem;
        height: 3rem;
        margin-left: -1.5rem;
        margin-top: -1.5rem;
        box-sizing: border-box;
        z-index: 1000;
        border: 0.3em solid currentColor;
        border-right-color: transparent;
        border-radius: 50%;
        animation: .75s linear infinite spinner-border; // Defined by Bootstrap
    }

    // Translucent backdrop
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 999;
    }
}

//----------------------------------------------------------------------------------------------------------------------
// Bootstrap fixes
//----------------------------------------------------------------------------------------------------------------------

// Make text white on buttons (it's dark by default and that looks ugly)
.btn-primary, .btn-secondary, .btn-cta {
    --bs-btn-color:        #fff;
    --bs-btn-hover-color:  #fff;
    --bs-btn-active-color: #fff;
}
.btn-outline-primary, .btn-outline-secondary, .btn-outline-cta {
    --bs-btn-hover-color:  #fff;
    --bs-btn-active-color: #fff;
}

// Toast
.toast {
    // Fix the lower corners of the body sticking over the rounded corners of the toast
    overflow: hidden;
}
.toast-body {
    background-color: rgba($white, .8);
    display: flex;
}

//----------------------------------------------------------------------------------------------------------------------
// ng-bootstrap fixes
//----------------------------------------------------------------------------------------------------------------------

// Extra style to remove the standard arrow from the dropdown
.dropdown-toggle.no-arrow::after {
    content: initial;
}

// Make the typeahead's popup scrollable
ngb-typeahead-window.dropdown-menu {
    max-height: 350px !important;
    overflow-y: auto;
}
