<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="user-scalable=no,initial-scale=1">
    <title>Comentario: Confirm Email</title>
</head>
<body class="content" style="font-size:14px;background:white;font-family:sans-serif;padding:0;margin:0;">
    <p>Hi!</p>
    <p>Someone (probably you) recently initiated the procedure to reset your Comentario account password. To do this, use the button below:</p>
    <p style="margin: 36px;">
        <a href="{{ .URL }}"
           style="background-color: #4950d8; padding: 12px; border-radius: 2px; color: #ffffff; text-decoration: none; font-size: 120%;">Reset Password</a>
    </p>
    <p>If you didn't ask for a password reset, please ignore this email.</p>
</body>
</html>
