// Vars
$font-family-sans-serif: Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Theme palette
$primary:   #4950d8;
$secondary: #839c8f;
$success:   #198754;
$info:      #6610f2;
$warning:   #ffc107;
$danger:    #dc3545;
$light:     #ffffff;
$dark:      #212529;
// -- Theme palette custom extensions
$cta:       #ec8100;

// Extend the (default) theme color with the cta color
$theme-colors: (
    "primary":   $primary,
    "secondary": $secondary,
    "success":   $success,
    "info":      $info,
    "warning":   $warning,
    "danger":    $danger,
    "light":     $light,
    "dark":      $dark,

    // Custom colours
    "cta":       $cta
);

// Configuration
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";

// Layout & components
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/grid";
// @import "node_modules/bootstrap/scss/tables";
// @import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
// @import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
// @import "node_modules/bootstrap/scss/card";
// @import "node_modules/bootstrap/scss/accordion";
// @import "node_modules/bootstrap/scss/breadcrumb";
// @import "node_modules/bootstrap/scss/pagination";
// @import "node_modules/bootstrap/scss/badge";
// @import "node_modules/bootstrap/scss/alert";
// @import "node_modules/bootstrap/scss/progress";
// @import "node_modules/bootstrap/scss/list-group";
// @import "node_modules/bootstrap/scss/close";
// @import "node_modules/bootstrap/scss/toasts";
// @import "node_modules/bootstrap/scss/modal";
// @import "node_modules/bootstrap/scss/tooltip";
// @import "node_modules/bootstrap/scss/popover";
// @import "node_modules/bootstrap/scss/carousel";
// @import "node_modules/bootstrap/scss/spinners";
// @import "node_modules/bootstrap/scss/offcanvas";
// @import "node_modules/bootstrap/scss/placeholders";

// Helpers
@import "node_modules/bootstrap/scss/helpers";

// Utilities
@import "node_modules/bootstrap/scss/utilities/api";

html, body {
    height: 100%;
}

.hero-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;

    @include media-breakpoint-up(md) {
        min-height: 75vh;
    }
}

footer {
    background-color: #66719f;
    color: #ced1e1;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 0.85rem;
}

#homepage h2:not(:first-child) {
    margin-top: 4rem;
}

// Figure
.imgfig {
    display: block;
    margin: 0 auto;
    text-align: center;

    .figure-img {
        max-width: 100%;
        height: auto;
        max-height: 800px;
    }

    .figure-caption {
        margin-bottom: 1rem;
    }
}

// Code highlight
.highlight {
    pre {
        padding: 1rem;
    }
}

// Override Bootstrap classes
.btn-primary, .btn-secondary, .btn-cta {
    --bs-btn-color:        #fff;
    --bs-btn-hover-color:  #fff;
    --bs-btn-active-color: #fff;
}

// Subheading, the page's description under the main heading
.subheading {
    color: $gray-600;
    margin-top: -0.66rem;
    margin-bottom: 2rem;
    font-size: 90%;
}

// Animations
.fade-in-1s {
    animation: fade-in-animation 1s ease forwards 1;
}
.fade-in-3s {
    animation: fade-in-animation 3s ease forwards 1;
}
@keyframes fade-in-animation {
    0%   { opacity: 0; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}
